*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e2d3b;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #2e3a46;
    padding:10px 20px;
}
.logo{
    height:40px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: center;
}
.card{
    height: 250px;
    width:150px;
    background-color: #2e3a46;
    margin: 15px;
    text-align: center;
   
}
.copertina{
    height: 115px;
    width: 115px;
    margin-top:15px;
}
h3{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding:10px 15px;
}
.sottotitolo{
    color:grey;
        font-size:14px;
}
