*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e2d3b;
}
header{
    background-color: #2e3a46;
    padding:10px 20px;
}
.logo{
    height:40px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    margin-top: 70px;
}
.card{
   width: calc(100% / 5)-10px; 
   height: 100px;
   background-color: #2e3a46;
   margin: 10px;
   padding: 20px 15px;
}
.copertina{
    height: 100px;
    width: 100px;
}
h3{
    color: white;
    text-transform: uppercase;
}